wheel
wget
minecraft_launcher_lib
pyfiglet
ttkbootstrap
tkvideo
requests
Pillow
tkhtmlview @ https://github.com/jwaxy/tkhtmlview-fixed-ithink/releases/download/tagtag/tkhtmlview.zip
speedtest-cli
psutil
